.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(7, 0, 0);
    background-color: rgba(184, 100, 100, 0.89);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px #000;
    font-style: italic;
    
    margin-top: 50px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all 0.2s;
}

.colum{
    max-width: auto;
    margin: 3px;
    height: auto;
    height: 60%;
    
   
    
}

.image{
    
    width: 350px;
    height: 300px;
    
    
}

.movieText{
    font-size: 20px;
}

.firstItem{
    margin-top: 0;
}

.title{
    color: antiquewhite;
    margin-left: 20px;
    font-size: 23px;
}

.score{
    font-size: 15px;
    margin-left: 68px;
    color: antiquewhite;
}

.diet{
    font-size: 18px;
    margin-right: 90px;
    color: antiquewhite;
}

