body{
  background-image: url('../images/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.filterC {
   
}
.nav  {
  display: block;
  margin-top: 50px;
  margin-left: 20px; 
}

.refresh {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: italic;
  color: #000000;
  font-size: 14px;
  background: rgb(193, 215, 233);
  padding: 3px 13px 3px 13px;
 
}

.select {
  background: rgb(186, 216, 156);
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
  
}

.paginado {
  
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
    
  

}

.cards{
  display: grid;
  /* align-items:center; */
  /* padding: 30px; */
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
  
  
  
}