body{
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  
}

.Navbar-custom {
  background-color: lightgreen;
}

.navs{

    
}

.bkg{
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  display: inline;
  
  
    
  
}


.select{

background: rgba(247, 247, 246, 0.894);
cursor: pointer;
display:inline-block;
justify-content: center;
text-align: center;
padding: 9px;
color: rgba(194, 133, 20, 0.89);
box-shadow: #000000;
font-size: 16px;
font-weight: bolder;
font-family: italic;
margin-left: 3px;
margin-right: 3px;
border-radius: 10px;



}
.cards{
 
 display: grid;
 
 justify-content:center;
  grid-template-columns:repeat(auto-fill, 350px);
  padding: 45px;
  gap: 35px;
}



.paginado{
display: flex;
flex-direction: row; 
justify-content: center;

}

.filterC{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  justify-content: space-evenly ;

  

}
.refresh{


font-family: italic;
color: rgba(194, 133, 20, 0.89);

background: rgb(253, 253, 253);
padding:  3px 13px 3px 13px ;
text-decoration: none;
font-size: 15px;
font-weight: bolder;
padding-right: 15px;
border-radius: 10px;
margin-left: 3px;
margin-right: 3px;

}
.input{
background-color: #fbfbfb;
font-size: 13px;
}
.create{

font-family:'Times New Roman', Times, serif;
color: rgba(194, 133, 20, 0.89);
border-radius: 10px;


background: rgb(255, 255, 255);
padding:  5px 13px 5px 13px ;
text-decoration: none;
font-size: 15px;
font-weight: bolder;

}
.search{
display: flex;
justify-content: start;
margin-left: 25px;
margin-bottom: 25px;
margin-top: 10px;




}

.divSea{
  
display: flex;
flex-direction: row;
flex-wrap: wrap;

align-items: flex-start;
align-content: flex-start;
align-self: start;
gap: 120px;

}

.searchDiv{
  margin-right: 250px;
  padding-right: 500px;
}

.value{
cursor: pointer;

}


.btnsearch {

font-family: italic;
color: wheat;
font-size: 13px;
background: rgb(224, 157, 157) ;
padding:  3px 13px 3px 13px ;
text-decoration: none;
font-size: 23px;
font-weight: bolder;

}

.btnsearch:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}
.create:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}
.refresh:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}

.error{
  
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(10, 6, 0);
}
