body{
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  
}


.select{

background: rgb(224, 157, 157);
cursor: pointer;
display:inline-block;
justify-content: center;
text-align: center;
padding: 5px;
color: white;
box-shadow: #000000;
font-size: 15px;
font-weight: bolder;
font-family: italic;



}
.cards{
  display: grid;
 
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 60px;
}

.paginado{
display: flex;
flex-direction: row; 
justify-content: center;

}

.filterC{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  justify-content: space-evenly ;

}
.refresh{


font-family: italic;
color: #ffffff;

background: rgb(224, 157, 157);
padding:  3px 13px 3px 13px ;
text-decoration: none;
font-size: 15px;
font-weight: bolder;

}
.input{
background-color: #fbfbfb;
font-size: 15px;
}
.create{

font-family: italic;
color: #ffffff;

background: rgb(224, 157, 157);
padding:  5px 13px 5px 13px ;
text-decoration: none;
font-size: 15px;
font-weight: bolder;

}
.search{
display: flex;
justify-content: start;
margin-left: 50px;
margin-bottom: 25px;
margin-top: 10px;




}

.value{
cursor: pointer;
}


.btnsearch {

font-family: italic;
color: #f6f6f6;
font-size: 13px;
background: rgb(224, 157, 157) ;
padding:  3px 13px 3px 13px ;
text-decoration: none;
font-size: 23px;
font-weight: bolder;

}

.btnsearch:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}
.create:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}
.refresh:hover {
background: antiquewhite;
text-decoration: none;
cursor: pointer;
color: #000000;
}
