
.lnd{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(76, 175, 80, 0.3)
    
    
}

.title{
    color: rgb(221, 116, 17);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(240, 119, 6),
        0 0 82px rgb(240, 119, 6),
        0 0 92px rgb(240, 119, 6),
        0 0 102px rgb(240, 119, 6),
        0 0 151px rgb(240, 119, 6);
        text-decoration: none;
        align-items: center;
        margin-left: 32%;
        margin-top: 250px;
        font-size: 60px;
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
       
 
}

.btn {
    cursor: pointer;
    background: #d84040;
   
  
    
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    color: #ffffff;
    font-size: 30px;
    padding: 9px 23px 9px 23px;
    text-decoration: none;
    position:relative;
    margin-top: 8%;
    margin-left: 47%;
    
  }
  
  .btn:hover {
    text-decoration: none;
    background: rgb(163, 135, 12)
  }
 


