.cards{
    display: grid;
    grid-template-columns:repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
    



}

.paginado{
    background: rgb(255, 255, 255);
    color: #f37703;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 7px;
    
    
    
}

.paginado:hover{
    background-color:antiquewhite
}