

.paginado{
    background: hsla(0, 0%, 87%, 0.938);
    color: #050505;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    position:absolute;
    margin-bottom: 15px;
    
   
    
    
    
}

.paginado:hover{
    background-color:rgba(245, 123, 9, 0.418)
}