


   .detailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    
}

.colum{
    max-width: 100%;
    margin: 10px;
    height: auto;
    height: 70%;
    
   
    
}

.title{
    
    background-color:#f7eac3 ;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
   
    
}

.type{
   
    background-color:rgb(212, 212, 157) ;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
  
    
}

.summary{
   
    background-color:rgb(212, 212, 157) ;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  
    
}

.healthScore{
    display: inline;
    background-color: rgb(212, 212, 157);
    border-radius: 10px;
    padding: 7px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);
    font-size: 20px;
    
}

.img{
    
    
   
    background-color: rgba(184, 100, 100, 0.89);
    box-shadow: 0px 0px 30px 2px #000;
    font-style: italic;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(206,89,55,0.42);
    color: #ffffff;
    font-style: oblique;
    margin: 2% 35% 1% 35%;
    padding-top: 60px;
    padding-bottom: 75px;
    
    border-radius: 25px;
    
    
    
}

.img{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.image{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin-left: 190px;
    
    
}

.movieText{
    font-size: 15px;
}

.firstItem{
    margin-top: 0;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 20px;
    background: #f7eac3;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 15px;
  }
  
  .btn:hover {
    background: rgb(230, 109, 109);
    color: white;
    text-decoration: none;
    cursor: pointer;
   
  }

  .div{
      display: flex;
      flex-direction: column;
  }

  .type{
      font-size: 25px;
      font-weight: bold;
  }

  .summary{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }