.bkg{
    background-image: url('../images/salad-gc7f87fae6_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
  

    
    
}

.container {
    display: flex;
    justify-content:center;
   
    flex-direction: column;

    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;


    
}

.errors{
    color: rgb(255, 0, 0);
    background-color: rgb(246, 223, 223);
    display: flex;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
   }
   .form{
       display: flex;
       flex-direction: column;
       background-color:rgba(179, 118, 19, 0.822) ;
       border-radius: 20px;
       width: 550px ;
       
      
       
       padding: 65px;
       box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
       
   }

   .btn {
    
    border-radius: 10px;
    font-family: italic;
    color: #000000;
    
    background: rgb(212, 212, 158);
    padding: 7px 30px 7px 30px;
    text-decoration: none;
    padding-bottom: 10px;
    
  }
  
  .btn:hover {
    background: #f2f2b1;
    background-image: -webkit-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -moz-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -ms-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -o-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: linear-gradient(to bottom, #f2f2b1, #f3ff99);
    text-decoration: none;
    cursor: pointer;
  }
  .h1{
    background-color:rgb(223, 118, 118) ;
    border-radius: 15px;
    padding: 7px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: italic;
  }




 .input{
    width:380px;
    height: 25px ;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    
    color: black;
 }

 .title{
    color: rgb(155, 76, 76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: #000000;
        text-decoration: none;
        align-items: center;
        font-size: 25px;
        margin-top: 25px;
        height: 50px;
        width: 220px;
        border-radius: 10px;
        align-self: center;
        
        
 }

 .title:hover{
   background:rgba(218, 119, 6, 0.24) ;
   color: wheat;
 }

 .div{
   display: flex;
   align-items: center;
   align-content: center;
   margin-top: 15px;
   color:rgb(0, 0, 0);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
 }

 .p{
   font-size: 18px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .btn{
   background: rgb(248, 246, 246);
   margin-bottom: 15px;
   color: rgb(245, 140, 2);
   font-size: 27px;
   font-weight: bolder;
   
 }

 .summary{
  width:340px;
  height: 100px ;
  padding-bottom: 60px;
  align-self: center;
  
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  
  color: black;
  margin-bottom: 10px;
 }
 
 .dietss{
   margin-top: 15px;
   height: 30px;
   width: 180px;
   font-size: 15px;
   align-self: center;
   margin-bottom: 10px;
   
   
 }

 .label{
   color: wheat;
   font-size: 20px;
   font-weight: bolder;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 20px;
 }

 .btn:hover{
   background: rgba(212, 143, 16, 0.911);
   color: #000000;
 }